body{
    background-image: url("/images/fonds.jpg");
    max-width: 500px;
    font-size: 1.3 rem;
}


a{
    color: white;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.competence{
    text-align: left;
    color: white;
}
.experience{
    text-align: left;
    color: white;
}
.formation{
    text-align: left;
    color: white;
}
